#wrapper {
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    background-image: url('./asset/background.jpg');
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#homepage-header {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 95%;
    border: 1px solid black;
    position: sticky;
    height: 35vh;
    box-shadow: 0px 0px 5px 5px whitesmoke;
    border-radius: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.header-top a {
    text-decoration: none;
    margin: 5px 0px 0px 5px;
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: bolder;
    color: #cecee4
}

#favourites {
    margin: 5px 5px 0px 0px;
}

.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#title {
    margin: 10px 0px 10px 0px;
    font-size: 3rem;
    font-style: oblique;
    font-family: fantasy;color: white;
    letter-spacing: 0.1rem;
}

#search-bar {
    margin: -10px 0px 5px 0px;
    width: 40%;
    height: 2rem;
    border-radius: 6px;
    font-family: 'Lobster', cursive;
}

.header-bottom input:focus{
    outline: none;
}

.superhero-container{
    width: 97%;
    top: 35vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    max-height: 65vh;
    margin-top: 23px;
    background: #e2e6ef;
    z-index: 2;
    border-radius: 10px;
    font-size: 2rem;
    font-family: cursive;
    font-style: oblique;
}

.icon-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 16rem;
    height: 22rem;
    margin: 10px;
    border: 1px solid #6b706d;
    border-radius: 11px;
    box-shadow: 0px 0px 2px 2px #9c9797;
}

.superhero-name{
    font-size: 1.2rem;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    height: auto;
}

.superhero-img{
    width: 100%;
    height: 80%;
}

.add-to-fav{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    font-size: 1.2rem;
    font-family: sans-serif;
    align-items: center;
    height: auto;
    cursor: pointer;
    color: #5b3434;
}

.red-color{
    color: #af1515;;
}

.white-color{
    color: rgb(196, 191, 191);
}

